.logo{
    margin-top:0px;
    padding: 0px;
    height: 5rem;
    width: 10rem;
    background: url('../img/logo.webp');
    background-size: contain;
    background-repeat: no-repeat;
}

nav{
    background:url('../img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.card{
    padding:1rem;
}

.previewPlan,.previewFeat,.previewCat{
    text-align: center;
}

#preview{
    position:relative;
    width: 60%;
    margin: 0 auto;
    border-top: 0px;
    border-bottom:0px;
    text-align:left;
}


.fontStyle{
    text-align:left;
}

.gstarted{
    border-radius: 5rem;
    font-weight:bold;
    font-size:12pt;
    background: url('../img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 3rem;
}

.required{
    color: red;
}

.bold{
    font-weight:bold;
    -webkit-text-stroke:0.2px white;
}

.plan-name{
    font-size:20pt;
}

.price{
    font-size:15pt;
}
.feat{
    position:relative;
}

.feat > img{
    height:15px;
    width:auto;
    color:red !important;
}

.desc {
    margin-left:20px;
}

/*Pricing Page CSS*/
.float-right{
    font-size:12pt;
    font-weight:bold;
    letter-spacing:2px;
    column-gap:100px;
}

.float-right .collapse ul > li{
    position:relative;
    margin-left:30px;
    color:white;
}

.pricing-page > h1{
    font-weight:bold;
    word-spacing:8px;

}

.pricepreview{
    position:relative;
    width: 96%;
    margin: 0 auto;
    border-top: 0px;
    border-bottom:0px;
    text-align:left;
}

.priceContainer{
    height:auto;
    display: flex;
    margin-bottom:100px;  
}

